<%- include("../../partials/header")  %>
<link rel="stylesheet" href="/css/customquiz.css">
<link rel="stylesheet" href="/css/payment.css">
<div class="container">
    <div class="card" style="width: auto; height: auto;  cursor:auto;">
        <div class="card-header">
            <h1>Upgrade now </h1>
        </div>
        <%- include("../../partials/flash")  %>
        <div class="card-body">
            <div class="invoice-card" style="color: black; ">
                <div class="invoice-title">
                  <div id="main-title">
                    <h4 style="color: black; font-weight: 700;">PLAN INVOICE</h4>
                    <span>#89 292</span>
                  </div>
                  <p>Name : <%=currentUser.name%></p>
                  <p>Session : <%=currentUser.category%></p>
                  <p>Plan : <%=plan%></p>
                  <p>Expires on : <span id="expire-date"></span></p>

                </div>
                
                <div class="invoice-details">
                  <table class="invoice-table">
                    <thead>
                      <tr>
                        <td>PRODUCT</td>
                        <td>UNIT</td>
                        <td>PRICE</td>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr class="row-data">
                        <td><%=plan%> Plan<span></span></td>
                        <td >1</td>
                        <%if(plan == "Premium"){%>
                          <td>1000</td>
                        <%}else{%>
                          <td>1500</td>
                        <%}%>
                      </tr>
                      <tr class="row-data">
                        <td>Discount<span></span></td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                      <tr class="calc-row">
                        <td colspan="2">Total</td>
                        <%if(plan == "Premium"){%>
                          <td style="color: chartreuse;"><%=1000%>.Rs</td>
                          <%}else{%>
                            <td style="color: chartreuse;"><%=1500%>.Rs</td>
                          <%}%>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="invoice-footer">
                    <a  class="btn btn-primary mr-2" href="/payment/paid/<%=plan%>">
                        Pay Now
                    </a>
                </div>
              </div>
        </div>
        <div class="card-footer" style="color: whitesmoke;">
            <br>
            <h2>feedback from our students</h2>
            <%feedbacks.forEach(feedback => { %>
                <div id="feedback" class="mb-3 m-4 mr-4">
                    <h4><%=feedback.username%></h4>
                    <h6><%=feedback.feedback%></h6>
                </div>
            <%})%>
        </div> 
    </div>
</div>
<script>
  const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December","January"];
  const date = new Date();
  document.getElementById("expire-date").innerText = months[date.getMonth()+1]+"/"+date.getUTCDate()+"/"+date.getFullYear()
</script>
<%- include("../../partials/footer")  %>
