<%- include("../../partials/header")  %>
<link rel="stylesheet" href="/css/customquiz.css">
<link rel="stylesheet" href="/css/payment.css">
<div class="container">
    <div class="card" style="width: auto; height: auto;  cursor:auto;">
        <div class="card-header">
            <h1>Upgrade now </h1>
        </div>
        <%- include("../../partials/flash")  %>
        <div class="card-body">
          <input type="hidden" value="<%=plan%>" id="plan">
            <div class="invoice-card" style="color: black; ">
                <div class="invoice-title">
                  <div id="main-title">
                    <h4 style="color: black; font-weight: 700;">PLAN INVOICE</h4>
                    <span class="light">#89 292</span>
                  </div>
                  <p>Name       : <%=currentUser.name%></p>
                  <p>Session    : <%=currentUser.category%></p>
                  <p>Plan       : <span class="plan-name"></span></p>
                  <p>Duration   : <span id="duration"><%=duration%></span> month</p>
                  <p>Expires on : <span id="expire-date"></span></p>
                </div>
                <div class="invoice-details">
                  <table class="invoice-table">
                    <thead>
                      <tr class="light">
                        <td>PRODUCT</td>
                        <td>UNIT</td>
                        <td>PRICE</td>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr class="row-data">
                        <td><span class="plan-name"></span> Plan</td>
                        <td ><%=duration%> month</td>
                          <td><span id="total-amount"></span>.Rs</td>
                      </tr>
                      <tr class="row-data">
                        <td>Discount<span></span></td>
                        <td><span id="discount-percent">0</span>%</td>
                        <td><span id="discount-amount">0</span>.Rs</td>
                      </tr>
                      <tr class="calc-row">
                        <td colspan="2">Total</td>
                          <td style="color: chartreuse;"><span id="total-bill">1000</span>.Rs</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="invoice-footer">
                    <a  class="btn btn-primary mr-2 pat-btn" href="/payment/paid/<%=plan%>/<%=duration%>">
                        Upgrade Now
                    </a>
                </div>
              </div>
        </div>
        <div class="card-footer" style="color: whitesmoke;">
            <br>
            <h2>feedback from our students</h2>
            <%feedbacks.forEach(feedback => { %>
                <div id="feedback" class="mb-3 m-4 mr-4">
                    <h4><%=feedback.username%></h4>
                    <h6><%=feedback.feedback%></h6>
                </div>
            <%})%>
        </div> 
    </div>
</div>
<script src="/static/payment.js"></script>
<%- include("../../partials/footer")  %>
