<%- include("../partials/header") %>
<link rel="stylesheet" href="/css/newsfeed.css">

<div class="container">
	<header class=" jumbotron">
		<div class="container">
			<h1 id="newsfeed-title">
				
			</h1>
			<p id="newsfeed-tagline">
				Get connected with the grademy community across Pakistan
			</p>
			<p>
				<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					Create a Post <i class="fas fa-pen-nib"></i>
				</a>
				<a class="btn btn-primary ml-2" href="/mcq/post">
					Post an MCQ <i class="fas fa-poll-h"></i>
				</a>
			  </p>
			  <div class="collapse" id="collapseExample">
				<div class="card card-body" style="width: auto; height: auto; background: #414345  ;">
					<form action="/newsfeed" method="POST" enctype="multipart/form-data" id="post-form">
						<div class="form-group">
							<textarea cols="4" rows="5" class="form-control" name="post[text]" placeholder="What's on your mind ?" ></textarea>	
						</div>
						<%if(currentUser.isAcademy){%>
							<div class="form-group">
								<label for="image">Image</label>
								<input class="btn btn-success" type="file" id="image" name="image" accept="image/*" >	
							</div>
						<%}%>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block">
							Post
							</button>
						</div>
					</form>	
				</div>
			  </div>
		</div>
	</header>
	
	<div class="row " >
		<div class="col-md-3">
			<div class="card" style="width: auto; height: auto; background: #333333  ;">
				<div class="card-header"> <span class="btn btn-lg btn-success btn-block">Communities</span></div>
				<div class="card-body">
					<%user.myAcademies.forEach(myAcademy=>{%>
						<a href="/newsfeed/<%=myAcademy._id%>" class="btn btn-md btn-primary btn-block" style="border-radius:25px;"><%=myAcademy.academyName%></a>
					<%})%>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-4 " >
		<% posts.forEach(function(post){ %>
			<div class="card mb-3 " style="width: auto; height: auto; background: #414345  ;">
				<div class="post-header">
					<div class="row mt-2 ml-1 mr-1 mb-2">
						<div class="col-9">
							<img src="https://www.w3schools.com/howto/img_avatar.png" class="profile-icon " alt="Avatar">
							<span class="ml-2">
								<%= post.author.username %>
							</span>
						</div>
						<div class="col-3">
							<span class="text-muted float-right"> <%=String(post.createdAt.getDate()).padStart(2, '0');%>/<%=post.createdAt.getMonth()+1%>/<%=post.createdAt.getFullYear()%> </span>	
						</div>
					</div>
				</div>
				<%if(post.image){%>
					<img src="<%=post.image%>" class="card-img-top" alt="...">
				<%}if(post.mcq){%>
					<div class="container ml-2 mr-2" >
						<h4><%=post.mcq.question%></h4>
						<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
						<% for (var i = 0; i < post.mcq.choice.length ; i++){%>
							<div class="choice-container mt-1"  data-id="<%=post.mcq._id%>" >
								<span style="display: none;" class="response float-right mr-2"><%=post.mcq.userResponse[i+1]%></span>
								<p class="choice-text ml-2" data-id="<%=post.mcq._id%>" data-number="<%=1+i%>">
									<%=post.mcq.choice[i]%> 
								</p>
							</div>
						<%}%>
						<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
						<div class="solvedBy">
							solved by <%=post.mcq.userResponse[0] + post.mcq.userResponse[1] + post.mcq.userResponse[2] + post.mcq.userResponse[3] + post.mcq.userResponse[4]%>
						</div>
					</div>
				<%}%>	
				<div class="caption ml-3 mr-3 mt-2">
					<p class="card-title">
						<%= post.text %>
					</p>
				</div>
				<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
				<div class="row">
					<div class="col-6 d-flex justify-content-center mt-2" >
						<i class="far fa-thumbs-up mr-2 mt-1" data-number="<%=post._id%>" style="color: rgb(84, 206, 84);"></i><h6 >Vote <span id="voteNumber"><%=post.votes%></span></h6><i class="far fa-thumbs-down ml-2 mt-1" data-number="<%=post._id%>" style="color: rgb(245, 87, 87);"></i>
					</div>
					<div class="col-6 d-flex justify-content-center btn btn-default " >
						<a data-toggle="collapse" href="#commentArea<%=post._id%>" role="button" aria-expanded="false" style="color: blanchedalmond;">
							<i class="far fa-comment mr-2 mt-1"></i><span style="font-weight: 500;">Comment <span id="commentNumber"><%=post.comments.length%></span></span>
						</a>
					</div>
				</div>
				<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
				<div class="collapse" id="commentArea<%=post._id%>">
					<div class="card card-body" style="width: auto; height: auto; background: #414345  ;">
						<form action="/newsfeed/<%=post._id%>/comments"  method="POST" >
							<div class="form-group">
								<textarea  rows="2" class="form-control" name="text" placeholder="Write a comment..." ></textarea>	
							</div>
							<div class="form-group">
								<button class="btn btn-lg btn-primary btn-block">
								Post
								</button>
							</div>
						</form>	
						<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">

						<%post.comments.forEach(comment => {%>
							<div class="row">
								<div class="col-1">
									<img src="https://www.w3schools.com/howto/img_avatar.png" class="profile-icon " alt="Avatar">
								</div>
								<div class="col-9">
									<h6 class="ml-2 mb-0">
										<%= comment.author.username %>
									</h6>
									<p class="ml-2">
										<%= comment.text %>
									</p>
								</div>
								<div class="col-2">
									<span class="text-muted float-right"> <%=String(comment.createdAt.getDate()).padStart(2, '0');%>/<%=comment.createdAt.getMonth()+1%>/<%=comment.createdAt.getFullYear()%> </span>	
								</div>
							</div>
							<hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
						<%})%>
					</div>
				</div>
			</div>
		<% }) %>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<script src="../../static/newsfeed.js"></script>
<script>

</script>

<%- include("../partials/footer") %>