<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/main.css" >
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/grademy/image/upload/v1592985715/favicon-32x32_gb7rei.png">

    <title><%=mcq.question%></title>
    <link rel="stylesheet" href="/css/quiz/app.css">
    <script src="https://kit.fontawesome.com/05c9781d40.js" crossorigin="anonymous"></script>
    <meta name="description" content="Click hereðŸ‘†to get an answer to your question âœï¸ <%=mcq.question%>">
    <meta property="og:description" content="Click hereðŸ‘†to get an answer to your question âœï¸ <%=mcq.question%>">

    <meta name="keywords" content="<%=mcq.subject%>,<%=mcq.chapter%>,mcq,solution,mdcat,entrytest mcqs">
    <meta property="og:url" content="https://www.grademy.org/mcq/answer">
    <link rel="canonical" href="https://www.grademy.org/mcq/answer">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Grademy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/academy">Academies</a>
                        <input type="hidden" id="user" value="guest">
                    </li>
                <%} else { %>
                    <input type="hidden" id="user" value="<%=currentUser.username%>">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/newsfeed">Newsfeed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/academy">Academies</a>
                    </li>
                    <%if(currentUser.isAdmin){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/counselling">Counselling</a>
                    </li>
                <%}%>
                <li class="nav-item">
                    <a class="nav-link " href="/user/plan">Billing</a>
                </li>
                <%if(currentUser.isModerator){%>
                    <li class="nav-item">
                        <a class="nav-link " href="/sorting">Sort</a>
                    </li>
                <%}%>
                <%if(currentUser.isAdmin){%>
                        <li class="nav-item">
                            <a class="nav-link " href="/user/controls">Controls </a>
                        </li>
                <%}%>
                        
                <% } %>
            </ul>
            
            <div >
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class=" navbar-nav ">
                        <% if(!currentUser){ %>
                            <li class="nav-item"> <a href="/login" class="nav-link">Login</a></li>
                            <li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
                        <%} else { %>
                            <button type="button" class="icon-button mt-1 mr-4">
                                <span class="material-icons nav-link">notifications</span>
                                <span class="icon-button__badge">2</span>
                            </button>
                            <li class="nav-item"><a href="#" class="nav-link"> <%=currentUser.username%> </a></li>
                            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
        </div>
        </div>
    </nav>
    <input type="hidden" id="id" value="<%=mcq._id%>">
    <div class="container" style="color: black;">
        <div class="quiz_box">
            <div class="quiz">
                <header>
                    <div class="title"><%=mcq.subject%> - <%=mcq.chapter%></div>
                    <div class="time_line"></div>
                </header>
                <section>
                    <div class="que_text"><span><b>1</b>.  <%=mcq.question%></span></div>
                    <div class="option_list">
                        <div class="option" data-number="1"><span><%=mcq.choice[0]%></span><span class="float_right response"></span></div>
                        <div class="option" data-number="2"><span><%=mcq.choice[1]%></span><span class="float_right response"></span></div>
                        <div class="option" data-number="3"><span><%=mcq.choice[2]%></span><span class="float_right response"></span></div>
                        <div class="option" data-number="4"><span><%=mcq.choice[3]%></span><span class="float_right response"></span></div>
                    </div>
                </section>
                <div class="comment">
                    <a data-toggle="collapse" class="btn btn-primary btn-lg mt-3 mb-3 btn-block" href="#commentarea" role="button" aria-expanded="false" style="color: blanchedalmond;">
                        Discussion <span id="comment-count"></span>
                    </a>
                    <div class="collapse" id="commentarea">
                        <div class="card card-body" style="width: auto; height: auto; background: #414345  ;">
                            <div class="form-group">
                                <textarea  rows="2" class="form-control comment-text" name="text" placeholder="Write a comment..." ></textarea>	
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" id="comment-btn" >
                                Post
                                </button>
                            </div>
                            <hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 10px;">
                            <div id="comment-display">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/static/quiz/mcq.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>