<%- include("../partials/header")  %>
<div class="container">
	<div class="row">
		<h1 style="text-align : center">
			Edite quiz
		</h1>
		<div style="width: 30% ; margin:25px auto ;">
			<form action="/academy/quiz/<%=quiz._id%>/edit" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="quiz[description]" value="<%=quiz.description%>" >	
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="quiz[lectureVideoURL]" value="<%=quiz.lectureVideoURL%>" >	
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="quiz[discussionVideoURL]" value="<%=quiz.discussionVideoURL%>" >	
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">
					submit
					</button>
				</div>
			</form>	
			<a href="/newsfeed" >Back</a>
		</div>	
	</div>
	
</div>


<%- include("../partials/footer")  %>