<%- include("../partials/header")  %>
<% var i = 0 ;%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <%- include("../partials/flash")  %>
    <header class="jumbotron">
        <div class="container">
            <%if(currentUser) { if(currentUser.isAcademy){%>
                <h1>Start you teaching journey with us!</h1>
                <p>
                    <a class="btn btn-primary btn-large" href="/academy/new">Start your academy</a>
                </p>
            <%}else{%>
                <h1>Meet your instructors!</h1>
                <p>Have freedom to choose your own favourite teachers</p>
            <%}}else{%>
                <h1>Meet your instructors!</h1>
                <p>Have freedom to choose your own favourite teachers</p>
            <%}%>
        </div>
    </header>
    <div class="row" >
        <% academies.forEach(academy=>{%>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4 " >
            <div class="thumbnail rounded academy-card" data-id="<%=academy._id%>" style="background-color: rgb(48, 48, 48);">	
                <img src="<%= academy.coverPicture %>" id="academy-cover" data-id="<%=academy._id%>" class="img-fluid rounded" >
                <div class="caption ml-2 mr-2" >
                    <h6 data-id="<%=academy._id%>"><%= academy.academyName %> <%if(joinedStatus[i]){%><div class="btn btn-sm btn-success mt-1 float-right join-btn" data-number="<%=academy._id%>" >Joined</div><%}else{%><div class="btn btn-sm btn-primary mt-1 float-right join-btn" data-number="<%=academy._id%>" >Join +</div><%}%></h6>
                    <h8 data-id="<%=academy._id%>">Level <%= academy.level %> instructor</h8>
                    <p data-id="<%=academy._id%>"><h8 data-id="<%=academy._id%>"><%= academy.punchLine %></h8></p>
                </div>
                <hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 0px;">
                <span class="ml-2 fa fa-star" style="color : orange"><span class="avgrating"></span>(<%=academy.reviews.length%>)</span>
                <span class="mr-2 fa fa-graduation-cap float-right" ><%=academy.students.length%></span>
            </div>
		</div>
	<% i++; }) %>
    </div>
</div>
<script src="../../static/academylist.js"></script>
<%- include("../partials/footer")  %>
