<%- include("../partials/header")  %>
<% var i = 0 ;%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <%- include("../partials/flash")  %>
    <header class="jumbotron">
        <div class="container">
            <%if(currentUser) { if(currentUser.isAcademy){%>
                <h1>Start you teaching journey with us!</h1>
                <p>
                    <a class="btn btn-primary btn-large" href="/academy/new">Start your academy</a>
                </p>
            <%}else{%>
                <h1>Meet your instructors!</h1>
                <p>Have freedom to choose your own favourite teachers</p>
            <%}}else{%>
                <h1>Meet your instructors!</h1>
                <p>Have freedom to choose your own favourite teachers</p>
            <%}%>
        </div>
    </header>
    <div class="row" >
        <% academies.forEach(academy=>{%>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4" >
            <div class="thumbnail rounded" style="background-color: rgb(48, 48, 48);">	
                <img src="<%= academy.coverPicture %>" id="academy-cover" class="img-fluid rounded" >
                <div class="caption ml-2 mr-2">
                    <h6 ><%= academy.academyName %> <%if(joinedStatus[i]){%><div class="btn btn-sm btn-success mt-1 float-right join-btn" data-number="<%=academy._id%>" >Joined</div><%}else{%><div class="btn btn-sm btn-primary mt-1 float-right join-btn" data-number="<%=academy._id%>" >Join +</div><%}%></h6>
                    <h8>Level <%= academy.level %> instructor</h8>
                    <a href="/academy/<%= academy._id %>" style="color : whitesmoke">
                        <p><h8><%= academy.punchLine %></h8></p>
                    </a>
                </div>
                <hr style="border-top: 1px solid rgb(87, 87, 87); margin: 5px 0px;">
                <span class="ml-2 fa fa-star" style="color : orange"><span class="avgrating"></span>(<%=academy.reviews.length%>)</span>
                <span class="mr-2 fa fa-graduation-cap float-right" ><%=academy.students.length%></span>
            </div>
		</div>
	<% i++; }) %>
    </div>
</div>
<script>
    
    fetch('http://localhost:8000/data')
  .then(response => response.json())
  .then(data => {
      var i = 0;
      data.forEach(academy=>{
        ratingsum = 0;
        
        console.log("yo",Object.keys(academy.reviews).length )
        for(var j=0 ; Object.keys(academy.reviews).length >=j ; j++){
            if(Object.keys(academy.reviews).length ==j){
                if(Object.keys(academy.reviews).length == 0){
                    avgRatings[i].innerText =0; 
                }else{
                    avgRatings[i].innerText =  Math.round(ratingsum/Object.keys(academy.reviews).length * 10) / 10
                }
            }else{
                ratingsum += academy.reviews[j].rating
            }
        }
        i++
      })
  });
    
    var avgRatings = Array.from(document.getElementsByClassName("avgrating"));

    var joinBtns = Array.from(document.getElementsByClassName("join-btn"));
    joinBtns.forEach(btn => {
        btn.addEventListener("click" , e=>{
            if(e.target.innerHTML == "Joined"){
                e.target.classList.add('btn-primary')
                e.target.classList.remove('btn-success')
                e.target.innerHTML = "Join+" 
                academyToBeUnjoined = e.target.dataset["number"]
                console.log("unjoined : ", academyToBeUnjoined)
                var options = {
                    method : 'POST' ,
                    headers : {
                        'Content-type' : 'application/json'
                    },
                    body : JSON.stringify({academyId : academyToBeUnjoined})
                    }
                fetch("http://localhost:8000/academy/leave" , options);
            }else{
                e.target.classList.remove('btn-primary')
                e.target.classList.add('btn-success')
                e.target.innerHTML = "Joined"
                academyToBeJoined = e.target.dataset["number"]
                console.log("joined : ", academyToBeJoined)
                var options = {
                    method : 'POST' ,
                    headers : {
                        'Content-type' : 'application/json'
                    },
                    body : JSON.stringify({academyId : academyToBeJoined})
                }
                fetch("http://localhost:8000/academy/join" , options);
            }
        })
    });

</script>
<%- include("../partials/footer")  %>
